body{
  background-color: rgb(44, 46, 46);
}
h1{
  text-align: center;
  color: white;
}
#p1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: bisque;
}
#p2{
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  color: aquamarine;
}
#p3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  color: cadetblue;
}
a{
  text-decoration: none;
  font-weight: bold;
  color: blueviolet;
}