nav {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  height: 60px;
  gap: 30px;
  padding: 0 25px;
  background-color: #222;
  border-radius: 25px;
  box-sizing: border-box;
}
nav a{
  text-decoration: none;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.container{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 300px;
  border: 2px solid black;
}
.box{
  width: 100px;
  height: 100px;
  border: 2px solid black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

